mixin newsData(data , i)
    - let myStyle = data.description ? " " : "small-news"
    -  let myBorder = data.description ? "none " : "hr"
    div(class="news-container")
        hr(class=myBorder)
        div(class=myStyle) 
            img.img(src= data.image alt= data.alt)
            h3.heading= data.Title.toUpperCase()
            p
                span.exclusive= data.isExclusive  ? "Exclusive  " : "" 
                =  data.description

        .info 
            p.time= data.time 
            p.comment= data.comments === 0 ? " " + "📨" : data.comments + "📨"

doctype html
html(lang="en")
    head
        title News Corp Australia
        link(rel="stylesheet", href="css/style.css")
        script(src="index.js")
    body
        .container
            .header
            .sidebar 
            .content
                each item , i in news
                    if i == 0
                        .left 
                            +newsData(item , i)
                .right 
                     each item , i in news 
                        if i > 0 
                            +newsData(item,i)    
            .footer 